html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


html{
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.primary_btn{
  border-style: none;
    border-radius: 5px;
    padding: 4px 10px;
    color: #7A553B;
    border: 2px solid #623412;
}



.secondary_btn{
  border-style: none;
    border-radius: 5px;
    padding: 4px 32px;
    color: #7A553B;
    border: 2px solid #623412;
}

.textcolor{
  color: #7A553B;

}